<div class="author">
    <h1 class="author_heading"> Artist </h1>
    <p class="author_body"> An artist.</p>
</div>

<img src="" alt="beautiful artwork">

<section class="articles">
    <h2 class="articles_heading">Latest Posts</h2>
    <ul class="article_ul">
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="article_date">Date</span>
            </a>
        </li>
    </ul>
    <a href="#" class="pagination">&lt; View Posts from before</a>
</section>